$color-main: "#E0617C";
$color-info: "#2db7f5";
$color-success: "#19be6b";
$color-warning: "#ff9900";
$color-error: "#ed4014";
// 标题
$color-title: "#17233d";
// 内容
$color-content: "#515a6e";
// 辅助、图标
$color-sub: "#808695";
// 失效
$color-disable: "#c5c8ce";
$color-border: "#dcdee2";
$color-divider: "#e8eaec";
$color-background: "#f8f8f9";
